/* desktop */
@media only screen and (min-width: 500px) {

	header h1{

		font-size: 4vw;
		
		padding: 30px;
		display: inline-block;
		vertical-align: middle; 

	}

	h2 {

		font-size: 2vw;

	}

	nav {

		margin: auto;

	}

	nav li {

		display: inline-block;
		font-size: 1.7vw;
		width: 19%;

	}

	nav li a {

		border-width: 2px 0px 4px 2px; 


	}

	#logo {

		width: 8vw;
		height: 8vw;

	}

	#menuIcon {

		display: none;

	}

	nav li:last-child {

		border-right: 3px solid black;

	}

	article {

		width: 85vw;
		margin: 0 auto;

	}

	.featured {

		float: right;
		width: 24%;

	}


	.general {

		float: left;
		width: 74%; 
		margin: 0 auto;

	}

	.book {

	float: left;
	padding: 0px;

	}

	.book .thumbnail {

		float: left;
		padding-right: 10px;


	}

	.book .thumbnail-image {
		width: 12vw;
	}

	.general .book {

		width: 45%;
		height: 20vw;
		margin: 0px 1% 10px 0px;
		padding: 1%;

	}

	.featured .book {

		width: 80%;
		height: 40vw;
		padding: 10px 5px 0px 5px;
		margin: 0px 5% 4px 4%;


	}

	.featured .thumbnail-image {

		position: absolute;
		padding-top: 20vw;
		padding-left: 14px;


	}

	.title {

		font-size: 1.5vw;

	}

	.pageCount {

		font-weight: bold;

	}

	.description, .authors, .pageCount {

		font-size: 1.2vw;

	}

	footer {

		position: absolute;
		top:10px;
		left: 50%;
		padding-left: 17vw;

	}

	footer img {

		width: 4vw;

	}



}

/* mobile */
@media only screen and (max-width: 500px) {

	h2 {

		font-size: 30px;

	}
	footer {

		text-align: center;

	}

	footer img {

		width: 50px;
		height: 50px;

	}


	.featured {

		text-align: center;
		margin-bottom: 10px;
	}

	.featured div {

		margin: 20px;

	}

	.thumbnail-image {

		width: 200px;

	}

	.general .book {

		margin-bottom: 20px;

	}

	.general .book {

		height: 360px;

	}

	.general .book div {

		padding: 10px;

	}

	.general .thumbnail {

		float: left;

	}

	nav ul {

		display: none;

	}

	header h1 {

		font-size: 30pt;
		padding: 0px;
		margin: 10px;

	}

	nav li a {

		border-width: 2px 2px 0px 2px; 

	}

	nav li {

		font-size: 18px;

	}

	nav li:last-child {

		border-bottom: 2px solid black;

	}

	#logo {

		display: none;

	}

	.book {

		font-size: 18px;

	}

	.title {

		font-size: 20px;

	}

	.authors {

		font-size: 16px;

	}

}

body {

	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 0px;

}

header {

	text-align: center;

}

h2 {

	text-align: center;
	font-weight: bold;
	margin: 15px;

}

nav {

	text-align: center;

}

nav ul {

	margin: 0px;
	padding: 0px;

}

nav li{

	list-style: none;	
	margin: 0px;
	padding: 0px;

}


nav li a {

	display: block;
	padding: 15px;
	margin: 0px;
	border-style: solid;
	border-color: black;
	text-decoration: none;
	color: black;

}

nav li a:hover {

	background: #aaf;

}

.title {

	font-weight: bold;

}

.authors, .pageCount, .description, .title {

	margin: 0px 0px 3px 0px;

}

#logo {

	display: inline-block;
	vertical-align: middle; 

}

.featured {

	background: #aaa;
	border: 3px solid black;

}

.book {

	background: white;
	border: 2px solid black;
	cursor: pointer;

}

.show {

	display: block !important;

}

.is-selected {

	background: #aff;

}
